<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">
      <a class="grey-text text-lighten-4" href="https://lineup.js.org" target="_blank" rel=noopener>LineUp.js</a> is a <a class="grey-text text-lighten-4" href="http://caleydo.org" target="_blank" rel=noopener>Caleydo</a> project that is maintained by <a class="grey-text text-lighten-4" href="https://www.datavisyn.io" target="_blank" rel=noopener>datavisyn</a> under the lead of <a class="grey-text text-lighten-4" href="https://www.sgratzl.com" target="_blank" rel=noopener>Samuel Gratzl</a>.
    </div>
  </div>
</footer>
