<li>
    <a href="{{ "/" | relative_url }}">Home</a>
</li>
<li>
  <a href="{{ my_page.url | relative_url }}getting_started">Getting Started</a>
</li>
<li>
  <a href="{{ my_page.url | relative_url }}app">Demo</a>
</li>
<li>
  <a class="dropdown-trigger" href="#!" data-target="dropdown1">
  Integrations<i class="material-icons right">arrow_drop_down</i></a>
</li>
<li>
    <a href="{{ my_page.url | relative_url }}dev">Dev</a>
</li>
<li>
    <a href="{{ my_page.url | relative_url }}master/docs">API</a>
</li>
<li>
    <a href="{{ my_page.url | relative_url }}about">About</a>
</li>
