---
layout: default
---

<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br>
    <br>
    <h1 class="header center">{{ site.title }}</h1>
    <div class="row center">
      <h5 class="header col s8 offset-s2 light">{{ site.description }}</h5>
    </div>

    <div class="row center">
      <a href="./getting-started" class="btn-large waves-effect waves-light">Get Started</a>
    </div>
    <br>
    <br>

  </div>
</div>

<div class="container home">
  <div class="section">
    <div class="row">
    {% assign sorted_tags = site.tags | sort: 'order' %}
    {% for tag in sorted_tags %}
     {% assign loopindex = forloop.index0 | modulo: 3 %}
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center">
            <i class="material-icons">{{tag.icon}}</i>
          </h2>
          <h5 class="center">{{tag.title}}</h5>

          <p class="light">
            {{tag.content}}
          </p>
        </div>
      </div>
      {% if loopindex == 2 %}
       </div><div class="row">
      {% endif %}
    {% endfor %}
  </div>
</div>

</div>
